body {
  font-family: Arial, sans-serif;
  background-color: #c8afb999;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 3em; 
  color: lab(69.04% 47.84 5.23);
}
#logoimg{
    padding-top: 150px;
    border: lab(69.04% 47.84 5.23);
    border-radius: 100%;
    width: 200px;
}

button {
  background-color: #ffb6c1;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: #ff7f9e;
  color: white;
}

.hidden {
  display: none;
}

.card {
  margin: 50px auto;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.card h2 {
  margin-top: 10px;
}

.liked-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.liked-container .card {
  width: 200px;
}

.nav a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #ff7f9e;
  font-weight: bold;
}

#liked {
  background-color: #f8e8ec;
  padding: 10px;
  border: 2px solid #ff7f9e;
  border-radius: 15px;
  transition: 0.3s;
}

#liked:hover {
  background-color: #f36f83;
  columns: #f8e8ec;
}

#backmatch{
  background-color: #f8e8ec;
  padding: 10px;
  border: 2px solid #ff7f9e;
  border-radius: 15px;
  transition: 0.3s; 
}
#backmatch:hover {
  background-color: #f36f83;
  columns: #f8e8ec;
}

